:root {
  --highlight: #3bb8d5;
  --darkHighlight: rgb(5, 167, 196);
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--darkHighlight);
  font-size: 1.1rem;
}

.container {
  margin: auto;
  width: 70%;
  padding: 80px 0 100px;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.5rem;
}

.contact {
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.heading {
  font-size: 2rem;
  margin-top: 30px;
  font-weight: 500;
}

.subheading {
  font-size: 1.5rem;
  margin-top: 18px;
  font-weight: 500;
  padding-bottom: 8px;
}

blockquote {
  border-left: 4px solid var(--highlight);
  margin-left: 20px;
  padding-left: 15px;
  margin-top: 4px;
}

blockquote > div {
  padding-bottom: 8px;
}
